body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,96,121,1) 20%, rgba(0,212,255,1) 100%);
}
.col-md-5{
margin-top: 150px !important;
margin-left: 290px !important;
background-color: white;
padding: 10px !important;
}
input{
    margin-top: 10px !important;
}
button{
  margin-top:20px !important;
  float:left;
}

.success{
    border:3px solid rgb(76, 163, 76) !important;
}
.error{
    border: 3px solid red !important;
}
.failure{
    color:red;
    font-weight: bold;
}